html {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-height: 1vh;
  color: rgb(240, 240, 240);
  background-color: #373737;
}

#bodyContainer {
  background-color: rgb(40, 40, 40);
  padding: 20px;
  max-width: 550px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: auto;
  filter: drop-shadow(3px 3px 7px #101010);

}

#box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box {
  margin: 0px 5px;
  width: 80px;
  height: 80px;
}

iframe {
  width: 80px;
  height: 80px;
}

a {
  text-decoration: none;
  background-color: #1db954;
  position: relative;
  bottom: 29px;
  padding: 5px;
  transition: all 0.15s ease-in-out;
  border-top-right-radius: 10px;
}

a:hover {
  background-color: rgb(65, 241, 127);
}

a[target="_blank"]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px -1 5px;
}

#playlistsAbove {
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 5px;
}

#rotate {
  display: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  margin-top: 0px;
  margin-bottom: 16px;
}

#inputEmail {
  color: rgb(40, 255, 115);
  background: #202020;
  border: none;
  width: 100%;
  max-width: 400px;
  margin: 2px;
}

#inputURL {
  color: rgb(40, 255, 115);
  background: #202020;
  border: none;
  width: 100%;
  max-width: 400px;
  margin: 1px;
}

#submitButton {
  background-color: rgb(24, 168, 75);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: rgb(247, 247, 247);
  height: 35px;
  width: 100%;
  max-width: 400px;
  border-radius: 50px;
  border: none;
  transition: all 0.15s ease-in-out;
}

#submitButton:hover {
  color: white;
  background-color: rgb(30, 202, 90);
}

#formcontainer {
  text-align: center;
}

@media screen and (max-width: 600px) {
  #box-container {
    display: none;
  }

  #playlistsAbove {
    display: none;
  }

  #rotate {
    display: block;
  }
}