* {
    font-family: sans-serif;
    color: white;
  }
  
  html {
    background-color: rgb(40, 40, 40);
    min-height: 100%
  }
  a[target="_blank"]::after {
    color: white;
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin: 0 3px 0 5px;
  }

    
  #box-container{
    width: 600px;
    margin: auto;
    padding: 10px;
    position: relative;
  }
  
  .box-1{
    margin: 20px;
  }
  .box-2{
    margin: 20px;
  }
  .box-3{
    margin: 20px;
  }

  #playlistpushLink {
    color: #E87190;
  }
  #coupon{
    color: lightblue;  
  }
  img {
 
}
  