html {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-height: 1vh;
  color: white;
  background: repeating-linear-gradient(45deg,
    #454545,
    #454545 10px,
    #404040 10px,
    #404040 20px);
}

#bodyContainer {
  background-color: rgb(40, 40, 40);
  padding: 20px;
  max-width: 550px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: auto;
}



#box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box {
  margin: 0px 5px;
  width: 80px;
  height: 80px;
}

iframe {
  width: 80px;
  height: 80px;
}

a {
  text-decoration: none;
  background-color: #1db954;
  position: relative;
  bottom: 29px;
  padding: 5px;
  transition: all 0.15s ease-in-out;
}

a:hover {
  background-color: rgb(65, 241, 127);
}

a[target="_blank"]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}

#playlistsAbove {
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 5px;
}

#rotate {
  display: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  margin-top: 0px;
  margin-bottom: 16px;
}

#inputEmail {
  background: #202020;
  border: none;
  width: 100%;
  max-width: 400px;
  margin: 2px;
}

#inputURL {
  background: #202020;
  border: none;
  width: 100%;
  max-width: 400px;
  margin: 1px;
}

#submitButton {
  background-color: rgb(65, 65, 65);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: rgb(247, 247, 247);
  height: 35px;
  width: 100%;
  max-width: 400px;
  border-radius: 50px;
  border: none;
  transition: all 0.15s ease-in-out;
}

#submitButton:hover {
  color: white;
  background-color: rgb(81, 81, 81);
}

#submitButton2 {
  background-color: rgb(24, 168, 75);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  height: 40px;
  width: 100%;
  max-width: 400px;
  border-radius: 50px;
  border: none;
  transition: all 0.15s ease-in-out;
}

#submitButton2:hover {
  background-color: rgb(30, 202, 90);
}

hr {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: rgb(145, 145, 145);
  border: none;
  border-top: 3px double rgb(68, 68, 68);
  margin-bottom: 13px;
  overflow: visible;
  text-align: center;
  height: 5px;
  max-width: 80%;
}

hr:after {
  background: rgb(40, 40, 40);
  content: 'Or... for the price of a coffee...';
  padding: 0 4px;
  position: relative;
  top: -13px;
}

#formcontainer {
  text-align: center;
}

#gfText {
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
  padding: 10px;
  margin-top: 10px;
}

@media screen and (max-width: 600px) {
  #box-container {
    display: none;
  }

  #playlistsAbove {
    display: none;
  }

  #rotate {
    display: block;
  }
}